body {
	background-color: rgb(85, 85, 85);
	font-family: "Times New Roman", Times, serif;
	max-width: 1200px;
	max-height: 500px;
	margin: auto;
	display: block;
	overflow: hidden;
}

h1 {
	color: rgb(2, 205, 255);
	text-align: center;
	margin-top: 60px;
	margin-bottom: 15px;
	font-size: 50px;
}

p.key{
	font-size: 50px;
	border-width: 10px;
	border-radius: 10px;
	border-style: double;
	border-color: black;
	max-width: 50px;
	max-height: 50px;
	color: white;
}

img.key{
	font-size: 50px;
	border-width: 10px;
	border-radius: 10px;
	border-style: double;
	border-color: black;
	max-width: 50px;
	max-height: 50px;
}

h2#Player1 {
	position: relative;
	top: 30px;
	left: 80px;
}

span#Player1 {
	text-align: center;
}

p#w{
	position: relative;
	left: 200px;
}

p#a{
	position: relative;
	left: 120px;
	top: -40px;
}

p#s{
	position: relative;
	left: 200px;
	top: -160px;
}

p#d{
	position: relative;
	left: 280px;
	top: -280px;
}

h2#Player2 {
	position: relative;
	top: -620px;
	left: 580px;
}

span#Player2 {
	text-align: center;
	position: relative;
	top: -200px;
}

img#up{
	position: relative;
	right: -700px;
	top: -420px;
}

img#left{
	position: relative;
	right: -565px;
	top: -350px;
}

img#down{
	position: relative;
	right: -572px;
	top: -350px;
}

img#right{
	position: relative;
	right: -580px;
	top: -350px;
}

span#Letrak1{
	font-size: 18px;
	font-weight: Bold;
	position: relative;
	top: -300px;
	right: -70px;
}

span#Letrak2{
	font-size: 18px;
	font-weight: Bold;
	position: relative;
	top: -550px;
	right: -600px;
}